<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-primary text-white">Nuevo Equipo</h5>
            <div class="card-body">
                <form ngNativeValidate [formGroup]="teamForm" (ngSubmit)="saveTeam()">
                    <div class="form-group">
                        <label>Equipo</label>
                        <input formControlName="name" type="text" name="name" class="form-control" [ngClass]="functions.DisplayFieldCss('name', teamForm)" placeholder="Ingrese un equipo...">
                        <div class="invalid-feedback" *ngIf="functions.IsFieldInvalid('name', teamForm)">El nombre del equipo es necesario</div>
                    </div>
                    <div class="form-group">
                        <label>Estadio</label>
                        <input formControlName="stadium" type="text" name="stadium" class="form-control" [ngClass]="functions.DisplayFieldCss('stadium', teamForm)" placeholder="Ingrese un estadio...">
                        <span class="invalid-feedback" *ngIf="functions.IsFieldInvalid('stadium', teamForm)">El nombre del estadio es necesario</span>
                    </div>
                    <div class="form-group">
                        <label>Entrenador</label>
                        <input formControlName="coach" type="text" name="coach" class="form-control" [ngClass]="functions.DisplayFieldCss('coach', teamForm)" placeholder="Ingrese un entrenador...">
                        <span class="invalid-feedback" *ngIf="functions.IsFieldInvalid('coach', teamForm)">El nombre del entrenador es necesario</span>
                    </div>
                    <div class="text-right mt-4">
                        <button type="reset" class="btn btn-warning mr-2" (click)="$key=null"><i class="fas fa-times"></i> Cancelar</button>
                        <button type="submit" class="btn btn-success" [disabled]="teamForm.invalid"><i class="fa fa-save"></i> Guardar Equipo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h2>Equipos de fútbol</h2>
        <div class="row mt-4">
            <div class="col-md-12" *ngIf="isLoading">
                <div class="text-center">
                    <p><i class="fas fa-sync fa-spin fa-5x"></i></p>
                    <p>Cargando datos..</p>
                </div>
            </div>
            <div class="col-md-4" *ngFor="let team of teams; let i = index" [ngClass]="{'mt-4': i>2}">
                <app-team-item [team]="team" [pos]="i+1" (teamUpdate)="getTeam($event)"></app-team-item>
            </div>
        </div>
    </div>
</div>